@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* El Reset xD*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url(../img/texture.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Space Grotesk', Arial, sans-serif;
    line-height: 1.6;
    color: #1C4A70;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.container-fluid,
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Navbar */
.navbar-dark {
    background: linear-gradient(90deg, rgba(37, 50, 88, 1) 0%, rgba(43, 91, 138, 1) 100%);
}

.navbar-toggler {
    margin-left: 15px;
}

.navbar-dark .navbar-toggler {
    margin-left: 30px;
}

.offcanvas-body,
.offcanvas-header {
    background: linear-gradient(90deg, rgba(37, 50, 88, 1) 0%, rgba(43, 91, 138, 1) 100%);
}

.logoImg {
    height: 35px;
    padding-top: 5px;
    margin-right: 30px;
}

main {
    padding: 0px;
    margin: 0;
    width: 100%;
}

main h1 {
    margin-top: 85px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #1C4A70;
}

/* Slider de imágenes - index.html */
.slider {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 25px;
}

#sliderPrincipal {
    max-width: 1200px;
    margin: 0 auto;
}

.slide {
    position: relative;
    display: flex;
    aspect-ratio: 16 / 9;
}

/* Artículos de interés - index.html */
.content {
    padding: 20px 0;
}

.content h2 {
    color: #1C4A70;
    margin: 25px 0 15px 25px;
    text-align: left;
    font-size: xx-large;
}

.main-art {
    background-color: rgba(240, 248, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px;
    border-radius: 10px;
    flex: 1;
}

.main-art p {
    color: #1C4A70;
    margin: 20px 0;
    padding: 15px;
    font-size: 14px;
    flex: 1;
}

.main-art img {
    width: 75%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

/* Comentarios recientes (slide de comentarios) - index.html */
.coments {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #494949;
    color: #FFFFFF;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.comment-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.prev-coment-btn,
.next-coment-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1;
}

.prev-coment-btn {
    left: 10px;
}

.next-coment-btn {
    right: 10px;
}

blockquote {
    max-width: 700px;
    margin: auto;
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.visitados {
    font-size: 13px;
    color: #e6eff7;
    margin-bottom: 10px;
    margin-left: 180px;
}

.avatar {
    position: absolute;
    left: 0;
    width: 170px;
    text-align: center;
    top: 0;
}

.avatar p {
    color: #c3dbf1;
    font-size: 12px;
    padding: 0;
    text-align: center;
    margin-top: 0;
}

.avatar img {
    object-fit: cover;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.5);
    margin-bottom: 5px;
    margin-top: 15px;
}

.coment {
    margin-left: 180px;
    text-align: left;
    margin-top: 0;
    color: #FFFFFF;
}

/* Estilos footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(37, 50, 88, 1) 0%, rgba(43, 91, 138, 1) 100%);
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding-left: 10px;
}

footer .social-media {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

footer .social-media a img {
    width: 24px;
    height: 24px;
    margin: 15px 5px;
}

.copyright {
    margin-top: 35px;
    text-align: center;
}



/* Estilos "Lugares" */
.text-container p, .details ul, .details li, .location iframe {
    color: #1C4A70;
}

#places-info h1 {
    margin-top: 85px;
    margin-left: 25px;
    font-size: xx-large;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 8px;
}

.text-container {
    padding: 20px;
    margin-top: 25px;
    margin-right: 15px;
    background-color: rgba(240, 248, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.1);
    border-radius: 8px;
}

.details {
    background-color: rgba(240, 248, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 15px;
}

.details h2{
    color: #1C4A70;
    margin-bottom: 15px;
    font-size: x-large;
}

.location h2 {
    color: rgba(240, 248, 255);
    margin-bottom: 15px;
    font-size: x-large;
}

.details ul {
    list-style-type: "- ";
    margin-left: 25px;
    padding: 0;
}

.details li {
    margin-bottom: 10px;
}

.location {
    background-color: #1C4A70;
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.location p {
    color: rgba(240, 248, 255);
}

.location iframe {
    width: 100%;
    max-height: 450px;
    border: 0;
}

.map {
    margin-top: 20px;
}

/* estilos barra vertical - Lugares*/
.sidebar-container {
    width: 150px;
    max-height: calc(100%);
    min-height: 200px;
    padding: 0;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 10px;
    align-items: center;
    align-content: center;
}

.sidebar-container ::-webkit-scrollbar {
    display: none;
}

.sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.bubble-div img {
    width: 85px;
    height: 85px;
    border: 2px solid #3B7DD8;
    border-radius: 50%;
}

.sidebar-item.active img {
    border: 3px solid #993bd8;
    width: 100px;
    height: 100px;
}

.sidebar-item {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.sidebar-item p {
    margin: 0px 5px 5px;
}

.prev-place-btn, .next-place-btn {
    background: none;
    border: none;
    color: #b9b9b9;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.prev-place-btn:hover, .next-place-btn:hover {
    color: #ffffff;
}

/* estilos barra horizontal - Lugares*/
#barraLugHorizontal {
    width: 1920px;
    width: 100%;
    margin-top: 125px;
    margin-left: 0;
}

#colLugHorizontal {
    height: 60px;
    width: 100%;
}

.horizontal-sidebar-container {
    max-width: 1920px;
    height: 160px;
    width: 100%;
    background-color: #212529;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: space-between;
}

.horizontal-sidebar-container ::-webkit-scrollbar {
    display: none;
}

.horizontal-sidebar-item {
    display: inline-block;
    margin: 0px 20px;
    text-align: center;
}

.horizontal-sidebar-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.horizontal-sidebar-item p {
    margin: 0px 5px;
}

.horizontal-sidebar-item .bubble-div img {
    width: 80px;
    height: 80px;
    border: 2px solid #3B7DD8;
    border-radius: 50%;
    margin: 15px 15px;
}

.horizontal-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prevHbutton,
#nextHbutton {
    position: fixed;
    top: 100px;
    color: #b9b9b9;
    z-index: 1;
}

#prevHbutton:hover,
#nextHbutton:hover {
    color: #ffffff;
}

#prevHbutton {
    left: 10px;
}

#nextHbutton {
    right: 10px;
}


/* Estilos "Historia" */
main.historia {
    display: flex;
    justify-content: center;
}

.content-historia h1 {
    margin: 50px 0px 25px 25px;
    font-size: xx-large;
    text-align: center;
}

.content-historia {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.historia-item {
    padding: 20px;
    margin-top: 25px;
    background-color: rgba(240, 248, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.1);
    border-radius: 8px;
}

.historia-item p {
    margin-top: 25px;
}

.image-containerHist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.image-containerHist img {
    width: 35%;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.image-containerHist h2 {
    font-size: x-large;
    margin: 0;
}

.text-containerHist {
    width: 100%;
}

/* estilos barra horizontal - Historia*/
.horizontal-sidebar-Hcontainer {
    display: inline-flex !important;
    position:fixed;
    max-width: 1920px;
    height: 160px;
    width: 100%;
    background-color: #212529;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: space-around;
}

.horizontal-sidebar-Hcontainer ::-webkit-scrollbar {
    display: none;
}

.timeline {
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: -1;
    border: none;
    border-top: 2px solid #ffdb0d;
    box-shadow:         
    0 -4px 6px rgba(252, 253, 162, 0.9),
    0 4px 6px rgba(252, 253, 162, 0.9);
}

#prevHistbutton,
#nextHistbutton {
    position: fixed;
    top: 100px;
    color: #b9b9b9;
    opacity: 0.5;
    z-index: 1;
}

#prevHistbutton:hover,
#nextHistbutton:hover {
    color: #ffffff;
    opacity: 0,9;
}

#prevHistbutton {
    left: 10px;
}

#nextHistbutton {
    right: 10px;
}

#prevHistbutton p, #nextHistbutton p {
    font-size: small;
    font-weight: bolder;
}

#barraHist {
    width: 1920px;
    width: 100%;
    margin-top: 125px;
    margin-left: 0;
}

#colHist {
    height: 60px;
    width: 100%;
}

.horizontal-sidebar-Hitem {
    display: inline-block;
    margin: 0px 20px;
    text-align: center;
    z-index: 2;
}

.horizontal-sidebar-Hitem a {
    text-decoration: none;
    color: #FFFFFF;
}

.horizontal-sidebar-Hitem p {
    margin: 0px 5px;
}

.horizontal-sidebar-Hitem .bubble-div img {
    width: 80px;
    height: 80px;
    border: 2px solid #3B7DD8;
    border-radius: 50%;
    margin: 15px 15px;
}

.horizontal-sidebar-Hitem.active img {
    border: 3px solid #993bd8;
    width: 90px;
    height: 90px;
}


/* Estilos libro del visitante */
.book {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 35px;
}

.book h1 {
    color: #1C4A70;
    margin: 30px 0 25px 25px;
    text-align: left;
    font-size: xx-large;
}

.visitor-book {
    background-color: rgba(240, 248, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.visitor-book h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.visitor-book p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-upload {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-upload img {
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.5);
    margin: 15px 0px 5px 35%;
}


.load-pic {
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 0px;
    width: 360px;
    border: 1px solid #1BB286;
    color: #1BB286;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.form-container {
    max-width: 500px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container .form-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.submit-google,
.submit-fb,
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-google img,
.submit-fb img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.submit-google {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #fa2500;
    margin-right: 5px;
}

.submit-fb {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #0043fa;
    margin-left: 5px;
}

.submit {
    background-color: #1BB286;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.coment-book {
    background-color: #494949;
    color: #FFFFFF;
    padding: 20px 0;
    border-radius: 0 0 8px 8px;
}

.blk-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.avatar-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.avatar-book p {
    color: #c3dbf1;
    font-size: 12px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

.avatar-book img {
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.5);
}

.comment-content {
    text-align: left;
    width: 100%;
    padding: 10px;
}

.visitados-book {
    font-size: 13px;
    color: #e6eff7;
    margin-bottom: 10px;
    text-align: center;
}

.coment-user {
    text-align: center;
    color: #FFFFFF;
}

.page-link:focus {
    box-shadow: none;
}


/* Estilos "nosotros" */
.nosotros {
    margin-top: 45px;
    display: flex;
    align-items: center;
}

#nosotros-text {
    background-color: rgba(240, 248, 255, 0.8);
    padding: 15px 15px;
}

#nosotros-text h2 {
    color: #1C4A70;
    font-size: x-large;
    margin: 25px 0px 10px 0px;
}

#nosotros-text p {
    margin-bottom: 25px;
}

.nosotros-title {
    color: #1C4A70;
    margin: 25px 0 25px 25px;
    text-align: left;
    font-size: xx-large;
    display: block;
}

.about-us {
    margin: auto;
    width: 70%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.about-us ul {
    text-align: left;
}

.video-nosotros iframe {
    margin-top: 30px;
    max-width: 640px;
    max-height: 480px;
}


/* Media queries */
@media (max-width: 1920px) {
    .container {
        padding: 0;
        max-width: 1920px;
    }
}

/* Estilos para sidebar */
@media (min-width: 993px) {
    .sidebar-container {
        display: flex;
    }

    #barraLugHorizontal {
        display: none !important;
    }
}

/* Estilos sidebar y otros pantallas medianas y pequeñas */
@media (max-width: 992px) {
    .sidebar-container {
        display: none !important;
    }

    .horizontal-sidebar-container {
        display: inline-flex !important;
        position:fixed;
    }

    .text-container, .details, .location {
        margin: 0;
        border-radius: 0px;
    }

    .content-historia {
        margin: 0;
        border-radius: 0px;
        padding: 0;
        margin-top: 5px;
    }

    .historia-item {
        margin: 0;
        border-radius: 0px;
        padding: 0;
        margin-top: 5px;
    }

    .image-containerHist {
        flex-direction: column;
        align-items: center;
    }

    .image-containerHist img {
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        width: 100%;
        height: auto;
    }

    .image-containerHist h2 {
        margin-top: 25px;
    }
    
    .historia-item p {
        padding: 20px;
        text-align: justify;
    }

    .text-container {
        padding: 0;
        margin-top: 5px;
    }

    .details, .location {
        margin-bottom: 18px;
    }

    .text-container img {
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        width: 100%;
        height: auto;
    }

    .text-container p {
        padding: 20px;
        text-align: justify;
    }

    .horizontal-sidebar-item.active img {
        border: 3px solid #993bd8;
        width: 90px;
        height: 90px;
    }

    #places-info h1 {
        margin-top: 40px;
        margin-left: 15px;
    }

    .book {
        padding: 20px 0px;
    }

    .coment-book, .visitor-book {
        border-radius: 0px;
    }

    .form-container {
        width: 100%;
    }

    .avatar-upload {
        display: flex;
        flex-direction: column;
    }

    .avatar-upload img {
        margin: 0;
    }

    .load-pic {
        width: 190px;
        margin: 10px 0px;
    }

    .submit-google, .submit-fb {
        font-size: 0.8rem;
        padding: 5px;
        width: 90%;
    }

    .submit-google img, .submit-fb img {
        padding: 0px;
        margin-left: 4px;
    }

    .coment-user {
        text-align: justify;
    }

}

/* Estilos Index.html incluye header y footer pantallas pequeñas */
@media (max-width: 767px) {
    .content {
        padding: 20px 0;
    }

    .content article {
        flex: 1 0 100%;
        margin: 0;
    }

    .main-art {
        padding: 0;
        border-radius: 0;
    }

    .main-art img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 0;
    }

    .slider {
        margin-top: 50px;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    #sliderPrincipal {
        max-width: 100%;
        margin: 0 auto;
    }

    .slide {
        max-width: 100%;
        margin: 0 auto;
    }

}

@media (max-width: 768px) {
    .logo {
        order: 2;
        padding-right: 10%;
    }

    .menu-btn {
        order: 1;
        display: block;
    }

    .slider h1 {
        font-size: 1.1em;
        padding: 0.5em 1em;
    }

    .prev-coment-btn,
    .next-coment-btn {
        font-size: 1.5em;
    }

    .coments {
        height: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .avatar {
        position: static;
        margin: 0 auto 5px;
    }

    .avatar p {
        font-size: 11px;
    }

    blockquote p,
    .visitados,
    .coment {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .visitados {
        margin-top: 0;
    }

    blockquote {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer p {
        text-align: left;
    }

    footer .social-media {
        margin-bottom: 0;
        margin-left: 10px;
    }

}